
<div class="bootstrap-wrapper">
    <div class="container">
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card>
          <div class="container text-center">
            <img src="../assets/register.png" class="images">
  
          </div>
          <h1 class="text-center">Register Here !!</h1>
          <!--{{student | json}}-->
          <form  action="" (ngSubmit)="formSubmit()">
            <!--username-->
            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input name="username" required minlength="4" [(ngModel)]="student.username" #username="ngModel"
              matInput placeholder="Enter Here"/>
             </mat-form-field>

            
          
           <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
           

                  <span *ngIf="username.errors?.['required']"> Name is required.</span>
               
               
                 <span *ngIf="username.errors?.['minlength']"> Name must be at least 4 characters long. </span>
   
             </div>
            <!--password-->
            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" name="password" required minlength="4" [(ngModel)]="student.password"  #password="ngModel"
              matInput placeholder="Enter Here"/>
            
            </mat-form-field>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
           

              <span *ngIf="password.errors?.['required']"> Password is required.</span>
           
           
             <span *ngIf="password.errors?.['minlength']"> password should 4 to 10 characters at least one Uppercase. </span>
            </div>
            <!--firstname-->
            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input name="firstName" pattern="[a-zA-Z]+" required [(ngModel)]="student.firstName" #firstName="ngModel"
              matInput placeholder="Enter Here"/>
            
            </mat-form-field>
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
           

              <span *ngIf="firstName.errors?.['required']"> FirstName is required.</span>
           
           
             <span *ngIf="firstName.errors?.['pattern']"> Invalid name </span>
            </div>
            <!--lastname-->
            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input name="lastName" required [(ngModel)]="student.lastName" #lastName="ngModel"
              matInput placeholder="Enter Here"/>
            
            </mat-form-field>
            <!--email-->
            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input required  name="email" [(ngModel)]="student.email" #email="ngModel"
              matInput placeholder="Enter Here" pattern="[A-Za-z0-9][a-zA-Z0-9_.]*@[A-Za-z0-9]+([.][A-Za-z]+)$"/>
            
            </mat-form-field>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
           

              <span *ngIf="email.errors?.['required']"> Email is required.</span>
              <span *ngIf="email.errors?.['pattern']">Invalid Email</span>
              </div>
            <!--phone-->
            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>Phone</mat-label>
              <input required pattern="(0|91)?[7-9][0-9]{9}" name="phone" [(ngModel)]="student.phone" #phone="ngModel"
              type="text" matInput placeholder="Enter Here"/>
            
            </mat-form-field>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
           

              <span *ngIf="phone.errors?.['required']"> Phone number is required.</span>
           
           
             <span *ngIf="phone.errors?.['pattern']">Phone number should 10 digit </span>
            </div>
            <!--address-->
            <mat-form-field class="full-width"  appearance="outline">
              <mat-label>Address</mat-label>
              <textarea [(ngModel)]="student.address" name="address"
              matInput></textarea>
            </mat-form-field>
            <div>
              <h2>Image Upload</h2>
              <input type="file" (change)="onFileSelected($event)" >
              <button (click)="uploadImage()" class="mb20">Upload</button>
            </div>
  
            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">Submit</button>
              <button mat-raised-button color="accent" class="button-margin">Reset</button>
            </div>
  
          </form>
        </mat-card>
        </div>
      </div>
    </div>
  
  </div>
  
  
  
